body {
  margin: 0;
  font-family: Arial, sans-serif; /* Sadece Arial ! */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Hide scrollbars globally for kiosk mode */
  background-color: #1a1d2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}